.hp-movies-container {
  width: 80%;
  display: flex;
  border: 1px solid gray;
  background: white;
}

.hp-movies-info {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 1rem;
}

.title {
  margin-bottom: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.name {
  margin-right: 0.5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.hp-movies-list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hp-details-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
  margin-right: 1rem;
}

.hp-filters {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hp-filter-section {
  width: 80%;
  margin: auto;
  padding: 1rem 2rem;
  border: 1px solid gray;
  background: white;
}

.hp-releaseYearFilter {
  margin-left: 2rem;
}
